@charset "UTF-8";
.BTHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6bc81;
  width: 100%;
  /*padding: 30px 0;*/
  position: fixed; /**/
  height: 10vh;
  z-index: 100;
  border: 1px solid grey;
  /*max-width: 1280px;*/
}
.BTHeader a .logo {
  margin-left: 30px;
  max-height: 80px;
}
.BTHeader nav {
  margin-right: 80px;
}
.BTHeader nav .listaRedirecciones {
  list-style: none;
  display: flex;
  gap: 20px;
}
.BTHeader nav .listaRedirecciones .redireccion1 {
  padding: 10px;
}
.BTHeader nav .listaRedirecciones .redireccion1 a { /*a == Link*/
  text-decoration: none !important;
  color: black;
}
.BTHeader nav .listaRedirecciones .redireccion1 a:hover {
  color: white;
  font-weight: bold;
}
.BTHeader nav .listaRedirecciones .redireccion2 {
  padding: 4px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg {
  width: 45px;
  height: 45px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg:hover {
  fill: rgb(248, 237, 222);
  transition: fill 0.2s ease-in-out;
}
.BTHeader nav .menuButton {
  display: none;
}

@media screen and (max-width: 350px) {
  .BTHeader a .logo {
    margin-left: 10px;
  }
}
@media screen and (max-width: 300px) {
  .BTHeader {
    height: auto;
  }
  .BTHeader a .logo {
    margin-left: 10px;
    margin-bottom: 0px;
  }
  .BTHeader ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .BTHeader ul .redireccion1 { /*se esconde opcion 1*/
    padding: 0px;
    display: none;
  }
  .BTHeader ul .redireccion1.open {
    display: block;
  }
  .BTHeader ul .redireccion2 { /*se esconde opcion 2*/
    padding: 0px;
    display: none;
  }
  .BTHeader ul .redireccion2.open {
    display: block;
  }
  .BTHeader nav {
    margin-right: 0px;
  }
  .BTHeader nav .menuButton {
    display: block;
    margin-right: 10px; /*se muestra el boton que contiene a opcion1 y opcion2*/
  }
}
.BTHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6bc81;
  width: 100%;
  /*padding: 30px 0;*/
  position: fixed; /**/
  height: 10vh;
  z-index: 100;
  border: 1px solid grey;
  /*max-width: 1280px;*/
}
.BTHeader a .logo {
  margin-left: 30px;
  max-height: 80px;
}
.BTHeader nav {
  margin-right: 80px;
}
.BTHeader nav .listaRedirecciones {
  list-style: none;
  display: flex;
  gap: 20px;
}
.BTHeader nav .listaRedirecciones .redireccion1 {
  padding: 10px;
}
.BTHeader nav .listaRedirecciones .redireccion1 a { /*a == Link*/
  text-decoration: none !important;
  color: black;
}
.BTHeader nav .listaRedirecciones .redireccion1 a:hover {
  color: white;
  font-weight: bold;
}
.BTHeader nav .listaRedirecciones .redireccion2 {
  padding: 4px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg {
  width: 45px;
  height: 45px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg:hover {
  fill: rgb(248, 237, 222);
  transition: fill 0.2s ease-in-out;
}
.BTHeader nav .menuButton {
  display: none;
}

@media screen and (max-width: 350px) {
  .BTHeader a .logo {
    margin-left: 10px;
  }
}
@media screen and (max-width: 300px) {
  .BTHeader {
    height: auto;
  }
  .BTHeader a .logo {
    margin-left: 10px;
    margin-bottom: 0px;
  }
  .BTHeader ul {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  .BTHeader ul .redireccion1 { /*se esconde opcion 1*/
    padding: 0px;
    display: none;
  }
  .BTHeader ul .redireccion1.open {
    display: block;
  }
  .BTHeader ul .redireccion2 { /*se esconde opcion 2*/
    padding: 0px;
    display: none;
  }
  .BTHeader ul .redireccion2.open {
    display: block;
  }
  .BTHeader nav {
    margin-right: 0px;
  }
  .BTHeader nav .menuButton {
    display: block;
    margin-right: 10px; /*se muestra el boton que contiene a opcion1 y opcion2*/
  }
}
#sidebarCuenta {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: rgb(230, 225, 225);
  left: -200px;
  transition: all 500ms linear;
  margin-top: 10vh;
  border: 1px solid grey;
}
#sidebarCuenta img {
  margin-top: 50px;
  width: 100px;
  height: 100px; /* La altura y el ancho deben ser iguales para obtener un círculo perfecto */
  border-radius: 50%;
  border: 2px solid black; /* Ajusta el grosor y el color del borde según tus necesidades */
}
#sidebarCuenta h3 {
  margin-top: 20px;
}
#sidebarCuenta nav {
  margin-top: 50px;
  height: 100%;
}
#sidebarCuenta nav ul .opcionPredeterminada {
  background-color: rgb(210, 205, 205);
  border-left: 5px solid black;
}
#sidebarCuenta nav ul li {
  padding: 1px;
  cursor: pointer;
}
#sidebarCuenta nav ul li:hover {
  background-color: rgb(210, 205, 205);
}
#sidebarCuenta nav ul li a p {
  color: black;
}

#sidebarCuenta.active {
  left: 0;
}

#sidebarCuenta .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}
#sidebarCuenta .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
}

@media screen and (max-width: 300px) {
  #sidebarCuenta .toggle-btn {
    /*top: 100px;
    */
    display: block; /**/
  }
  #sidebarCuenta .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
  }
}
#gestionUsuarios {
  padding-top: 10vh;
  padding-left: 200px;
}

/*# sourceMappingURL=gestionUsuarios.module.css.map */
