.BTHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E6AA6F;
  width: 100%;
  padding: 30px 0;
  position: fixed; /**/
  height: 30px;
  /*max-width: 1280px;*/
}
.BTHeader a .logo {
  margin-left: 30px;
  max-height: 80px;
}
.BTHeader nav {
  background-color: yelo;
}
.BTHeader nav .listaRedirecciones {
  list-style: none;
  display: flex;
  margin-right: 30px;
}
.BTHeader nav .listaRedirecciones .redireccion1 {
  padding: 10px;
}
.BTHeader nav .listaRedirecciones .redireccion1 a { /*a == Link*/
  text-decoration: none !important;
  color: black;
}
.BTHeader nav .listaRedirecciones .redireccion1 a:hover {
  color: white;
}
.BTHeader nav .listaRedirecciones .redireccion2 {
  padding: 4px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg {
  width: 45px;
  height: 45px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg:hover {
  fill: white;
  transition: fill 0.2s ease-in-out;
}

@media screen and (max-width: 300px) {
  .BTHeader {
    flex-direction: column;
    height: auto;
  }
  .BTHeader a .logo {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .BTHeader nav {
    margin-top: 10px;
  }
}
/*usar flex-wrap para las secciones de texto*/
.contenido {
  padding-top: 100px;
  background-color: antiquewhite;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
  /*esta seccion contiene a un texto y una imagen (texto a la izquierda e imagen a la derecha)*/
}
.contenido .seccionCrearDiagrama {
  height: 400px;
  width: 100%;
  display: flex;
  /*seccion texto esta en la izquierda*/
  /*la imagen esta a la derecha*/
}
.contenido .seccionCrearDiagrama .seccionTexto {
  background-color: antiquewhite;
  width: 50vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenido .seccionCrearDiagrama .seccionTexto .titulo {
  font-size: 40px;
}
.contenido .seccionCrearDiagrama .seccionTexto .descripcion {
  padding-bottom: 30px;
}
.contenido .seccionCrearDiagrama .seccionTexto .btnCrearDiagrama {
  width: 300px;
  height: 50px;
  border-radius: 7%;
  background-color: rgb(249, 106, 106);
  cursor: pointer;
}
.contenido .seccionCrearDiagrama .seccionTexto .btnCrearDiagrama b {
  font-size: 20px;
}
.contenido .seccionCrearDiagrama .seccionTexto .btnCrearDiagrama b:hover {
  color: white;
  transition: font-size 0.2s ease-in-out;
}
.contenido .seccionCrearDiagrama .imgMuestra {
  height: 90%;
  width: 60vw;
  padding: 20px;
}
.contenido .seccionInformacion {
  display: flex;
  height: 400px;
}
.contenido .seccionInformacion .imgMuestra2 {
  height: 100%;
  width: 60vw;
}
.contenido .seccionInformacion .seccionTexto2 {
  background-color: antiquewhite;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenido .seccionInformacion .seccionTexto2 .tituloInformacion {
  font-size: 40px;
}
.contenido .seccionInformacion .seccionTexto2 .descripcion {
  padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .seccionCrearDiagrama {
    flex-wrap: wrap;
    height: auto;
  }
  .seccionCrearDiagrama .seccionTexto {
    width: 100%;
    margin-bottom: 20px;
  }
  .seccionCrearDiagrama .imgMuestra {
    width: 100%;
  }
  .seccionInformacion {
    flex-wrap: wrap;
    height: auto;
  }
  .seccionInformacion .imgMuestra2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .seccionInformacion .seccionTexto2 {
    width: 100%;
  }
}

/*# sourceMappingURL=Inicio.module.css.map */
