.BTHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6bc81;
  width: 100%;
  /*padding: 30px 0;*/
  position: fixed; /**/
  height: 10vh;
  z-index: 100;
  border: 1px solid grey;
  /*max-width: 1280px;*/
}
.BTHeader a .logo {
  margin-left: 30px;
  max-height: 80px;
}
.BTHeader nav {
  margin-right: 80px;
}
.BTHeader nav .listaRedirecciones {
  list-style: none;
  display: flex;
  gap: 20px;
}
.BTHeader nav .listaRedirecciones .redireccion1 {
  padding: 10px;
}
.BTHeader nav .listaRedirecciones .redireccion1 a { /*a == Link*/
  text-decoration: none !important;
  color: black;
}
.BTHeader nav .listaRedirecciones .redireccion1 a:hover {
  color: white;
  font-weight: bold;
}
.BTHeader nav .listaRedirecciones .redireccion2 {
  padding: 4px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg {
  width: 45px;
  height: 45px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg:hover {
  fill: antiquewhite;
  transition: fill 0.2s ease-in-out;
}

@media screen and (max-width: 300px) {
  .BTHeader {
    flex-direction: column;
    height: auto;
  }
  .BTHeader a .logo {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .BTHeader nav {
    margin-top: 10px;
  }
}
/*usar flex-wrap para las secciones de texto*/
.contenido {
  padding-top: 100px;
  background-color: antiquewhite;
  width: 100%;
  /*esta seccion contiene a un texto y una imagen (texto a la izquierda e imagen a la derecha)*/
}
.contenido .seccionCrearDiagrama {
  height: 400px;
  width: 100%;
  display: flex;
  /*seccion texto esta en la izquierda*/
  /*la imagen esta a la derecha*/
}
.contenido .seccionCrearDiagrama .seccionTexto {
  width: 50vw;
  height: 100%;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenido .seccionCrearDiagrama .seccionTexto .titulo {
  font-size: 40px;
}
.contenido .seccionCrearDiagrama .seccionTexto .descripcion {
  padding-bottom: 30px;
}
.contenido .seccionCrearDiagrama .seccionTexto .btnCrearDiagrama {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(249, 106, 106);
  color: white;
  cursor: pointer;
}
.contenido .seccionCrearDiagrama .seccionTexto .btnCrearDiagrama b {
  font-size: 20px;
}
.contenido .seccionCrearDiagrama .seccionTexto .btnCrearDiagrama:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 151, 151);
  transition: font-size 0.2s ease-in-out;
  border: 1px solid black;
}
.contenido .seccionCrearDiagrama .imgMuestra {
  height: 90%;
  width: 60vw;
  padding-left: 20px;
  margin-right: 100px;
}
.contenido .seccionInformacion {
  display: flex;
  height: 400px;
  width: 100%;
}
.contenido .seccionInformacion .imgMuestra2 {
  height: 100%;
  width: 60vw;
  margin-left: 100px;
}
.contenido .seccionInformacion .seccionTexto2 {
  width: 40vw;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenido .seccionInformacion .seccionTexto2 .tituloInformacion {
  font-size: 40px;
}
.contenido .seccionInformacion .seccionTexto2 .descripcion {
  padding-bottom: 30px;
}

@media screen and (max-width: 1058px) {
  .contenido {
    /*esta seccion contiene a un texto y una imagen (texto a la izquierda e imagen a la derecha)*/
    display: flex;
    flex-wrap: wrap;
  }
  .contenido .seccionCrearDiagrama {
    margin-bottom: 200px;
    /*quiero centrar las otras secciones al medio de la pantalla horizontalmente*/
    align-items: center;
    /*seccion texto esta en la izquierda*/
    flex-direction: column;
    /*la imagen esta a la derecha*/
  }
  .contenido .seccionCrearDiagrama .seccionTexto {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .contenido .seccionCrearDiagrama .seccionTexto .btnCrearDiagrama {
    cursor: pointer;
  }
  .contenido .seccionCrearDiagrama .imgMuestra {
    padding-left: 0;
    margin-right: 0;
  }
  .contenido .seccionInformacion {
    flex-direction: column;
    align-items: center;
  }
  .contenido .seccionInformacion .imgMuestra2 {
    padding-left: 0px;
    margin-left: 0px;
  }
  .contenido .seccionInformacion .seccionTexto2 {
    margin-right: 0px;
  }
}

/*# sourceMappingURL=Inicio.module.css.map */
