.BTHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6bc81;
  width: 100%;
  /*padding: 30px 0;*/
  position: fixed; /**/
  height: 10vh;
  z-index: 100;
  border: 1px solid grey;
  /*max-width: 1280px;*/
}
.BTHeader a .logo {
  margin-left: 30px;
  max-height: 80px;
}
.BTHeader nav {
  margin-right: 80px;
}
.BTHeader nav .listaRedirecciones {
  list-style: none;
  display: flex;
  gap: 20px;
}
.BTHeader nav .listaRedirecciones .redireccion1 {
  padding: 10px;
}
.BTHeader nav .listaRedirecciones .redireccion1 a { /*a == Link*/
  text-decoration: none !important;
  color: black;
}
.BTHeader nav .listaRedirecciones .redireccion1 a:hover {
  color: white;
  font-weight: bold;
}
.BTHeader nav .listaRedirecciones .redireccion2 {
  padding: 4px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg {
  width: 45px;
  height: 45px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg:hover {
  fill: antiquewhite;
  transition: fill 0.2s ease-in-out;
}

@media screen and (max-width: 300px) {
  .BTHeader {
    flex-direction: column;
    height: auto;
  }
  .BTHeader a .logo {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .BTHeader nav {
    margin-top: 10px;
  }
}
.BTHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6bc81;
  width: 100%;
  /*padding: 30px 0;*/
  position: fixed; /**/
  height: 10vh;
  z-index: 100;
  border: 1px solid grey;
  /*max-width: 1280px;*/
}
.BTHeader a .logo {
  margin-left: 30px;
  max-height: 80px;
}
.BTHeader nav {
  margin-right: 80px;
}
.BTHeader nav .listaRedirecciones {
  list-style: none;
  display: flex;
  gap: 20px;
}
.BTHeader nav .listaRedirecciones .redireccion1 {
  padding: 10px;
}
.BTHeader nav .listaRedirecciones .redireccion1 a { /*a == Link*/
  text-decoration: none !important;
  color: black;
}
.BTHeader nav .listaRedirecciones .redireccion1 a:hover {
  color: white;
  font-weight: bold;
}
.BTHeader nav .listaRedirecciones .redireccion2 {
  padding: 4px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg {
  width: 45px;
  height: 45px;
}
.BTHeader nav .listaRedirecciones .redireccion2 a svg:hover {
  fill: antiquewhite;
  transition: fill 0.2s ease-in-out;
}

@media screen and (max-width: 300px) {
  .BTHeader {
    flex-direction: column;
    height: auto;
  }
  .BTHeader a .logo {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .BTHeader nav {
    margin-top: 10px;
  }
}
#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: white;
  left: -200px;
  transition: all 500ms linear;
  margin-top: 10vh;
  border: 1px solid grey;
}
#sidebar .listaEstructurasDatos {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
}
#sidebar .listaEstructurasDatos .Estructura {
  width: 100%;
  height: 60px;
}
#sidebar .listaEstructurasDatos .Estructura .imgEstructura {
  height: 60px;
  width: 60px;
}

#sidebar.active {
  left: 0;
}

#sidebar .toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
  cursor: pointer;
}

#sidebar .toggle-btn span {
  display: block;
  width: 40px;
  text-align: center;
}

.pizarraManipular {
  background-color: white;
  padding-top: 10vh;
  padding-left: 200px;
  height: 90vh;
}

/*
#sidebar{
    position: fixed;
    width: 200px;
    height: 80%;
    background-color: $red;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0;
}

ul li{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px;
    padding: 15px 15px;
    list-style: none;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    background-color: red;
    cursor: pointer;
}
#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
}

*/

/*# sourceMappingURL=pizarra.css.map */
