$background: antiquewhite;

.contenido {
    background-color: $background;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .texto{
        width: 500px;
        background-color: $background;
        .titulo{
            padding-bottom: 20px;
            padding-top: 50px;
        }
    }

  }
  

  