$background: antiquewhite;

.contenido {
    background-color: $background;
    height: 100%;
    //width: $minwidth;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  