$background: antiquewhite;
$carton: #E6AA6F;
$base: white;



/*
ul{
    display: flex;
    margin-inline: 20px;
    li{
        margin-inline: 20px;
    }
}*/



button{
    display: flexbox;
    border: none;
    justify-content: left;
    margin: 0;
}