.listaEstructurasDatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    width: 100%;
    transition: all 500ms linear; 
    .Estructura{
        width: 90%;
        /*height: 60px;*//*altura para las imagenes*/
        
        &:hover{
            background-color: whitesmoke;   
        }
        padding:10px 0;
        .imgEstructura{
            height: 90%;
            width: 90%;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
