@import 'Header.module';

$width : 100%;
.footerBT{
    background-color: $carton;
    display: flex;
    width: $width;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .textoFooter{
        .soporte{

        }
    }
}
