@import 'Header.module';

$width : 100%;
.footerBT{
    background-color: $carton;
    display: flex;
    width: $width;
    height: 10vh;
    align-items: center;
    justify-content: center;
    gap:10px;
    a{
        svg{
            &:hover {
                fill: white;
                transition: font-size 0.2s ease-in-out;
            }
            width: 20px;
            height: 20px;
        }
    }
}
