@import 'Header.module';

$width : 100%;
.footerBT{
    background-color: $carton;
    display: flex;
    width: $width;
    height: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .soporte{
        padding-top: 10px;
    }
}
