@import 'Header.module';
@import 'sidebarCuenta';

#gestionUsuarios{
    padding-top:$heightHeader;
    margin-left:$widthSidebarCuenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:150px;
    height: 100-$heightHeader;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .busqueda{
            margin-bottom: 20px;
            width: 50%;
        }
        table{
            background-color: white;
            border: 1px solid black;
            text-align: center;
            width: 80%;
            thead{
                
                tr{
                    th{
                        padding: 10px;
                    }
                }
                
            }
            tbody{
                tr{
                    td{
                        padding: 10px;
                        img{
                            max-width: 100px;
                            max-height: 100px;
                        }
                    }
                }
            }
        }
    }
    .eliminarMiCuenta{
        margin-top: 30px;
        background-color: red;
        height: 30px;
        border: none;
        border-radius:10px;
    }
}
