@import 'paletaColores';

$widthHeader: 100%;
$heightHeader:10vh;
$border:  1px solid grey;

.BTHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $carton;
    width: $widthHeader;
    /*padding: 30px 0;*/
    position: fixed;/**/
    height: $heightHeader;
    z-index: 100;
    border: $border;
    /*max-width: 1280px;*/
    a{
        .logo{
            margin-left:30px;
            max-height: 80px;
        }
    }
    nav{
        margin-right: 80px;
        .listaRedirecciones{
            list-style: none;
            display: flex;
            gap:20px;
            .redireccion1{
                padding: 10px;
                a{/*a == Link*/
                    text-decoration: none !important;
                    color:black;
                    &:hover {
                        color: white;
                        font-weight: bold;
                        
                    }
                }            
            }
            .redireccion2{
                padding: 4px;
                a{
                    svg{
                        &:hover {
                            fill: $background;
                            transition: fill 0.2s ease-in-out;
                        }
                        width: 45px;
                        height: 45px;
                    }     
                }    
            }
        }
        .menuButton {
            display: none;
        }
    }
}
@media screen and (max-width: 350px) {
    .BTHeader{
        a{
            .logo{
                margin-left:10px;
            }
        }
    }
}

@media screen and (max-width: 300px) {

    .BTHeader {
      height: auto;
      a{
        .logo{
            margin-left: 10px;
            margin-bottom: 0px;
        }
      }
      ul{
        margin-block-start: 0px;
        margin-block-end: 0px;
        .redireccion1{/*se esconde opcion 1*/
            padding:0px;
            display: none;
            &.open {
                display: block;
            }
        }
        .redireccion2{/*se esconde opcion 2*/
            padding: 0px;
            display: none;
            &.open {
                display: block;
            }
        }
      }
      nav {
        margin-right: 0px;
        .menuButton {
            display: block;
            margin-right: 10px;/*se muestra el boton que contiene a opcion1 y opcion2*/
        }
      }
  }
}
