@import 'paletaColores';
@import 'Header.module';

.HeaderPizarra{
    display: flex;
    background-color: $carton;
    position: fixed;
    width: $widthHeader;
    padding-left:20px;
    height: $heightHeader;
    gap:50px;
    z-index: 99;
    border: $border;
    a{
        img{
            height: 80px;
        }
    }
    .container{
        height: 100%;
        h3{
            padding-top:10px;
        }
        .opciones{
            ul{
                display: flex;
                gap: 10px;
                li{
                    
                }
            }
        }   
    }
}