$background: antiquewhite;
$width: 100%;
$carton: #E6AA6F;


.BTHeader{
    display: flex;
    justify-content: space-between;
    background-color: $carton;
    align-items: center;
    width: $width;
    padding: 30px 0;
    position: fixed;/**/
    max-height: 40px;
    /*max-width: 1280px;*/
    
    .imgHeader{
        margin-left:30px;
        max-height: 80px;
    }
    
    .listaRedirecciones{
        list-style: none;
        display: flex;
        margin-right: 30px;
        .redireccion1{
            padding: 10px;
            a{/*a == Link*/
                text-decoration: none !important;
                color:black;
            }            
        }
        .redireccion2{
            padding: 4px;
            a{
                svg{
                    width: 45px;
                    height: 45px;
                }     
            }    
        }
    }
}

