@import 'Header.module';
@import 'SidebarCuenta';

.informacionCuenta{
    background-color: white;
    padding-top:$heightHeader;
    padding-left:$widthSidebarCuenta;
    height: 100vh;
    width: 100%;
    .datos{
        width: 100%;
        display: flex;
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center;
        .containerColumnas{
            display: flex; /* Añade esto para usar Flexbox */
            flex-wrap: wrap;
            gap:40px; /* Añade un espacio entre las columnas */
            .column {
                flex: 1; /* Esto hace que cada columna tome la misma cantidad de espacio */
                padding: 10px; /* Añade un poco de espacio alrededor del texto */
            }
        }
    }
    button{
        border: none;
        border-radius: 10px;   
    }
    
    .containerOpciones{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .eliminarMiCuenta{
        color: white;
            background-color: red;
            width: 100px;
            height: 40px;
        }
    }
   
   
}
@media screen and (max-width: 300px) {
    .informacionCuenta{
        padding-left:0;
    }
}