$background: white;
$width: 100%;
$carton: #E6AA6F;

body{
    margin: 0;
    padding: 0;
    background-color: $background;
}


div{
    height: 40%;
    width: $width;
    padding: 70px 0;
    font-size: larger;
}

#createDiagram{
    text-align: left;
    background-color: gray;
}

