@import 'Header.module';

$btnColor: rgb(249, 106, 106);
$width: 100%;
$carton: #E6AA6F;


.contenido{
    background-color: $background;
    .seccionCrearDiagrama{
        padding-top: 100px;
        height: 500px;
        width: 100%;
        display: flex;
        .seccionTexto{
            background-color: $background;
            width: 50vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
   
            .titulo{
                padding-bottom: 30px;
            }
            .descripcion{
                padding-bottom: 30px;
            }
            .btnCrearDiagrama{
                width: 200px;
                height: 30px;
                border-radius: 7%;
                background-color: $btnColor;
                cursor: pointer;
            }

        }
        .imgMuestra{
            height: 100%;
            width: 60vw;
            padding: 20px;
        }
    }

    .seccionInformacion{
        display: flex;
        height: 500px;
        .imgMuestra2{
            height: 100%;
            width: 60vw;
        }
        .seccionTexto2{
            background-color: $background;

            width: 40vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .tituloInformacion{
                padding-bottom: 30px;
            }
            .descripcion{
                    padding-bottom: 30px;
            }
        }
    }
}




