@import 'Header.module';

$btnColor: rgb(249, 106, 106);
$btnColorHover: rgb(255, 151, 151);

$width: 100%;
/*usar flex-wrap para las secciones de texto*/

.contenido{
    padding-top:100px;
    background-color: $background;
    
    width: 100%;
    /*esta seccion contiene a un texto y una imagen (texto a la izquierda e imagen a la derecha)*/
    .seccionCrearDiagrama{
    
        height: 400px;
        width: 100%;
        display: flex;
        /*seccion texto esta en la izquierda*/
        .seccionTexto{
            width: 50vw;
            height: 100%;
            margin-left:100px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .titulo{
                font-size:40px;   
            }
            .descripcion{
                padding-bottom: 30px;
            }
            .btnCrearDiagrama{
                width: 300px;
                height: 50px;
                border-radius: 5px;
                background-color: $btnColor;
                color:white;
                cursor: pointer;
                b{
                    font-size:20px;   
                }
                &:hover {
                    color: rgb(0, 0, 0);
                    background-color: $btnColorHover;                    ;
                    transition: font-size 0.2s ease-in-out;
                    border: 1px solid black;
                }
            }

        }
        /*la imagen esta a la derecha*/
        .imgMuestra{
            height: 90%;
            width: 60vw;
            padding-left:20px;
            margin-right:100px;
        }
    }

    .seccionInformacion{
        display: flex;
        height: 400px;
        width: 100%;

        .imgMuestra2{
            height: 100%;
            width: 60vw;
            margin-left:100px;
        }
        .seccionTexto2{
            width: 40vw;
            margin-right:100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .tituloInformacion{
                font-size:40px;   
            }
            .descripcion{
                    padding-bottom: 30px;
            }
        }
    }

    
      
}


@media screen and (max-width: 1058px) {
    .contenido{
        /*esta seccion contiene a un texto y una imagen (texto a la izquierda e imagen a la derecha)*/
        display: flex;
        flex-wrap: wrap;
        .seccionCrearDiagrama{
            margin-bottom: 200px;
            /*quiero centrar las otras secciones al medio de la pantalla horizontalmente*/
            align-items: center;
            /*seccion texto esta en la izquierda*/
            flex-direction: column;
            .seccionTexto{
                margin-left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 100px;

                .titulo{
                }
                .descripcion{
                }
                .btnCrearDiagrama{
                    cursor: pointer;
                    b{
                    }
                }
    
            }
            /*la imagen esta a la derecha*/
            .imgMuestra{
                
                padding-left:0;
                margin-right:0;
            }
        }
        .seccionInformacion{
            flex-direction: column;
            align-items: center;
    
            .imgMuestra2{
                padding-left:0px;
                margin-left:0px;
            }
            .seccionTexto2{
                margin-right: 0px;
    
                .tituloInformacion{
                }
                .descripcion{
                }
            }
        }

    }
    


}
