@import 'Header.module';

$minwidth: 50%;
$altura: 100vh;
$red: #E62A44;

.login{
    height: 100vh;
    display: flex;
    .mainSection{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background;
        width: 50vw;
        height: 100%;
        form{
            button{
                background-color: white;
                border:1px solid grey;
                border-radius: 5px;
                color:black;
                height: 22px;
                width: 168px;
            }
        }

    }

    .section2{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $carton;
        width: 50vw;
        height: 100%;
        .optionsToGo{
            .links{
                button{
                    margin: 0 5px;
                }
            }
        }
    }   
}

@media screen and (max-width: 380px) {
    .login{
        display: block;
        .mainSection{
            width: 100%;
           
    
        }
    
        .section2{
            width: 100%;

            .optionsToGo{
                .links{
                    button{
                    }
                }
            }
        }   
    }
}