$background: antiquewhite;
$carton: #E6AA6F;
$base: white;
$red: #E62A44;
$minwidth: 100%;

*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: $carton;
    align-items: center;
    width: $minwidth;
    padding: 30px 0;
}
header ul{
    list-style: none;
    display: flex;
    margin-inline: 20px;
}
ul li{

    margin-inline: 20px;
}
img{
    max-height: 90px;
}

#sidebar{
    position: fixed;
    width: 200px;
    height: 80%;
    background-color: $red;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0;
}

#sidebar ul li{
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px;
    padding: 15px 15px;
    list-style: none;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#sidebar .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
}
footer{
    text-align: right;
    width: $minwidth;
    height: 10%;
}