@import 'Header.module';
$anchoSidebar : 200px;
#sidebarProyectos{
    z-index:99;
    position: fixed;
    width: $anchoSidebar;
    height: 100%;
    background-color:white;

    left: -200px;
    transition: all 500ms linear;
    margin-top:$heightHeader;
    border: $border;
    height: 100%;
    .links {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 90%;
        .listaRedirecciones {
            list-style: none;
            padding: 0;
            margin: 0;
            a{
                color:black;
                &:hover, &:active {
                    color: white; // Color del texto cuando se pasa el cursor por encima
                }        
                li {
                    margin-bottom: 10px; // Ajusta este valor según tus necesidades
                    &:hover {
                        background-color: black; // Color del texto cuando se pasa el cursor por encima
                    }       
                }
            }
           
        }
    }
}
#sidebarProyectos.active{
    left: 0;
}


#sidebarProyectos .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#sidebarProyectos .toggle-btn span{
    display: block;
    width: 40px;
    text-align: center;
    height: 100%;


}
