@import 'Header.module';
$widthSidebarCuenta : 200px;


#sidebarCuenta{
    position: fixed;
    width: $widthSidebarCuenta;
    height: 100%;
    background-color: white;
    left: -200px; 
    transition: all 500ms linear;
    margin-top:$heightHeader;
    border: $border;

    img {
        margin-top:50px;
        width: 100px;
        height: 100px; /* La altura y el ancho deben ser iguales para obtener un círculo perfecto */
        border-radius: 50%;
        border: 2px solid black; /* Ajusta el grosor y el color del borde según tus necesidades */
    }
    h3{
        margin-top:20px;
    }
    nav{
        margin-top:50px;
        height: 100%;
        ul{
            .opcionPredeterminada{
                background-color: rgb(210, 205, 205);
                border-left:5px solid black;
            }
            li{
                padding: 1px;
                cursor:pointer;
                &:hover{
                    background-color: rgb(210, 205, 205);
                }
            }
        }
    }
}
#sidebarCuenta.active{
    left: 0;
}
#sidebarCuenta .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
    span{
        display: block;
        width: 40px;
        text-align: center;
    }
    display: none;
}
@media screen and (max-width: 300px) {
    #sidebarCuenta .toggle-btn{
        /*top: 100px;
*/
        span{
            display: block;
            width: 40px;
            text-align: center;
        }
        display: block;/**/
    }
}