@import 'Header.module';
@import 'paletaColores';

$widthSidebarPizarra : 220px;
#sidebarPizarra{
    position: fixed;
    width: $widthSidebarPizarra;
    height: 100%;
    background-color: $sidebarColor;
    left: -$widthSidebarPizarra;
    transition: all 500ms linear;
    margin-top:$heightHeader;
    border: $border;
    z-index: 99;

    overflow-y: auto; /* Cuando esta esta linea entonces <div className={styles.toggleBtn} onClick={toggleSidebar}>
    <span>☰</span>
</div> desaparece. pero si lo elimino aparece nuevamente*/
    h3{ 
        padding:15px 0;
        text-align: left;
        padding-left:20px;
        &:hover{
            background-color: $background;
            cursor: pointer;
            border-left: 5px solid black;
        }
    }
   
}
#diagramContainer{
    //left:$widthSidebarPizarra;
    top:$heightHeader;
    width: 1536px -$widthSidebarPizarra + 1000px;
//    height: 100 - $heightHeader ;
    height: 2000px;
    background-image: url("public/cuadriculado.png");
    opacity: 0.7;
    position:absolute;
    overflow: auto;

}

#sidebarPizarra.active{
    left: 0;
}

#toggleBtn.active{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
    margin-top:$heightHeader;
    padding-top:0;
    transition: all 500ms linear;

}
#toggleBtn span{
    display: block;
    width: 40px;
    text-align:  center;
}
#toggleBtn{
    left: 0;
    top: 20px;
    padding-top:$heightHeader;
    transition: all 500ms linear;
    position: fixed;
    cursor: pointer;
    z-index:  99;

}

/*scroll*/
#sidebarPizarra::-webkit-scrollbar {
    width: 5px; /* Cambia esto al grosor que desees */
}
 
#sidebarPizarra::-webkit-scrollbar-thumb {
    background: #a8a7a7; /* Cambia esto al color que desees para la barra de desplazamiento */
}

#sidebarPizarra::-webkit-scrollbar-thumb:hover {
    background: #969494; /* Cambia esto al color que desees cuando se pasa el cursor sobre la barra de desplazamiento */
}

.anchor-point {
    width: 10px;
    height: 10px;
    position: absolute;
}
.anchor-point.top{
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    z-index: 99999;
        top: 0;
        left: 50%;
    
    
}
.anchor-point.right{
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    z-index: 99999;
    top: 50%;
    right: 0;
    
    
}
.anchor-point.left{
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    z-index: 99999;
    top: 50%;
    left: 0;
    
    
}
.anchor-point.bottom{
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    z-index: 99999;
    bottom: 0;
    left: 50%;
    
    
}
