@import 'paletaColores';
$bgSidebar: #f5d5ab;
$bgSidebarHover: #b7976d;

$anchoSidebar :16vw;
.sidebar{
    z-index: 99;
    position: fixed;
    width: $anchoSidebar;
    height: 100%;
    background-color: $bgSidebar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid grey;
    nav{
        margin-bottom: 10px;
        margin-top: auto;
        .listaLinks{
            display: flex;
            flex-direction: column;
            gap:20px;
            li{
                &:hover {
                    background-color: $bgSidebarHover;
                }

                a{
                    &:hover {
                        color: white;
                    }
                    color:black;
                    text-decoration: none;
                }
            }
        }
    }
}

