$background: antiquewhite;
$carton: #E6AA6F;
$base: white;
$minwidth: 100%;
$btnColor: rgb(249, 106, 106);

.soporte {
 
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Agregar esta línea */
    background-color: $background;
 
    .listaPreguntasFrecuentes{
        display: flex;
        flex-direction: column; /* Agregar esta línea */
        width: 500px;
    }
    .btnEnviarReporte {
    margin-top: 10px;
      background-color: $btnColor;
      border-radius: 5%;
      width: 120px;
      height: 25px;
    }
}
  
.listaPreguntasFrecuentes {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pregunta {
    cursor: pointer;
    padding: 10px;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .respuestaMostrar {
    display: block;
    background-color: blue;
  }
  
  .pregunta.abierta .respuesta {
    display: block;
    background-color: red;
  }

  .preguntaAbiertaSoporte{
    display: block;
    background-color: red;
  }