.cardUsuario{
    border-spacing: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    td{
        height: 100%;
        img{
            width: 50px;
        }
    }

   
}

